---
import NavBar from "../components/NavBar/NavBar.astro";
import Content from "../components/Content/Content.astro"
---

<main>
	<NavBar/>
	<Content/>
</main>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 100%;
		max-width: calc(100% - 2rem);
		color: rgb(24, 23, 23);
		font-size: 20px;	
		line-height: 1.6;
		background-color: aliceblue;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
</style>
