<main>
    <div>SystemWiz</div>
    <div>Seach Bar</div>
    <div class="navigation">
        <a href="">Home</a>
        <a href="">Login</a>
    </div>
</main>

<style>
    main {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
    }
   .navigation {
        display: flex;
    }
    .navigation a {
        margin-right: 15px;
        text-decoration: none;
    }
</style>
